.shade{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.pricing{
    max-width: 700px;
}
.card-deck .card {
    min-width: 220px;
}

html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  
  .border-top {border-top: 1px solid #e5e5e5;}
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  
  